.map-wrapper {
  width: 100vw;
  height: 100vh;
  position: relative;

  .navigation-pane-div {
    width: 100%;
    height: 90vh;
    position: relative;
  }

  // back button
  .nav-back-button-div .fa-chevron-circle-left {
    position: absolute;
    z-index: 5;
    top: 3%;
    left: 5%;
    color: #29353D;
    border-radius: 50%;
    font-size: 10vw;
  }

  .nav-back-button-div .fa-circle {
    position: absolute;
    z-index: 4;
    top: 3%;
    left: 5%;
    color: white;
    border-radius: 50%;
    font-size: 10vw;
  }

  // directions toggle button

  .directions-toggle-div {
    position: absolute;
    top: 4%;
    left: 20%;
  }

  .directions-toggle-div .fa-list-ul {
    position: relative;
    z-index: 7;
    color: white;
    border-radius: 50%;
    font-size: 5vw;

    &::after {
      position: absolute;
      z-index: -1;
      top: -54.5%;
      left: -46.5%;
      content: "";
      height: 2em;
      width: 2em;
      background-color: #29353D;
      border-radius: 50%;
      }
  }

  // summary
  .nav-summary-div {
    display: flex;
    width: 50%;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    z-index: 5;
    top: 2.5%;
    right: 4.5%;
    background-color: #9AABD5;
    border-radius: 8px;
    padding: 0.75rem;
    box-shadow: 1px 1px 2px #8495c7;

    #eta {
      padding-right: 14px;
    }
    p {
    color: white;
    font-size: 18px;
    // font-weight: bold;
    margin: 0;
    }

    .clock-icon-nav-summary {
      color: white;
    }

    .walking-icon-nav-summary {
      color: white;
    }

  }


 //buttons on right side

  .nav-right-buttons-div li {
    list-style: none;
    // line-height: 63px;
  }

  .nav-right-buttons-div .fa-circle {
    color: white;
  }

  .nav-right-icons-list {
    position: absolute;
    z-index: 5;
    bottom: 19%;
    right: 7%;
  }

  .nav-right-circles-list {
    position: absolute;
    z-index: 4;
    bottom: 18%;
    right: 8%;
  }

  //for call and flag
  .nav-right-icons-list .icon-white-circle {
    position: relative;
    z-index: 10;
    margin-top: 0.5rem;

    &::before {
      position: absolute;
      z-index: -1;
      top: 7.5%;
      left: 7.5%;
      content: "";
      height: 85%;
      width: 85%;
      background-color: rgba(255, 255, 255, 1);
      border-radius: 50%;
    }
  }
  //for message
  .nav-right-icons-list .icon-navy-circle {
    position: relative;
    z-index: 10;
    margin-top: 0.8rem;
    margin-bottom: 0.6rem;
    background-color: #29353D;
    height: 53px;
    width: 53px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

       &::after {
        position: absolute;
        z-index: -1;
        top: -20.5%;
        left: -0.5%;
        content: "";

      }
  }




  //bottom menu pane
  .nav-bottom-menu-div {
    background-color: #9AABD5;
    border-radius: 9px 9px 0px 0px;
    height: 19vh;
    width: 100vw;
    position: absolute;
    bottom: 0%;
    right: 0%;
    z-index: 5;
  }

  .nav-bottom-toggle {
    padding-left: 45%;
  }

  .nav-bottom-buttons-div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 3vh;
    padding: 2vh;
  }

  .nav-bottom-buttons-div .button-white {
    width: 42vw;
    height: 60px;
    box-shadow: 1px 1px 2px #8495c7;
  }

  .nav-bottom-buttons-div .button-sos {
    width: 42vw;
    height: 60px;
    box-shadow: 1px 1px 2px #8495c7;
  }
}

  // alert
  .alert-gg {
    bottom: 20%;
    left: 0;
    width: 75%;
    z-index:9999;
    color: white;
    background-color: rgba(#29353D, .7);
    border-radius: 8px;
  }

  .close {
    opacity: 1;
  }

  #directions {
    background-color: white;

    h2 {
      font-size: 1.3rem;
      text-align: left;
      padding-top: 16vh;
      padding-left: 6vw;
      font-weight: bold;
    }
  }

  .directions-js {
    padding: 0 24% 0 10%;
    font-size: 1rem;
    text-align: justify;
    height: 57%;
    overflow-y: scroll;
    li {
      margin: 2.5%;
    }
  }

  .directions-hide {
    position: absolute;
    top: -100%;
    transition: 0.5s;
    color: #29353D;
    opacity: 10%;
  }

  .directions-show {
    position: absolute;
    top: 0%;
    transition: 0.3s;
    opacity: 90%;
    color: #29353D;
  }
