.contacts {
  .button-add {
    font-size: 30px !important;
    display:flex;
    align-items: center;
  }
}

.add-button{
  background: none;
  border: none;
  display: block;
  margin: 0 auto;
  color: #9AABD5;
}

.contact-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  .fas{
    position: absolute;
    top: -16px;
    right:17px
  }
}
