.background {

  background-color: #9AABD5;
  text-align: center;
  height: 100vh;
  align-items: center;
  position: relative;
  .container-info {
    position: absolute;
    top:74px;
    color: white;
  }

}

.circle {
    background-color: white;
    border-radius: 50%;
    width: 70%;
    margin: 0 auto;
  }
