.survey {
  padding: 16px;
}

.survey .head-message {
  padding-left: 8px;
}

.survey-form h3 {
  border-bottom: 1px solid black;
  padding-left: 8px;
}

.survey-form p {
  padding-left: 8px;
}

.survey .custom-field {
  margin-bottom: 8px;
}

.survey .custom-submit {
  margin: 24px 0px;
}
