.survey-container {
  padding: 24px;
  background-color: white;
}

.survey-container h1 {
  font-size: 30px;
  color: #29353D;
  margin-top: 2vh;
}

.survey-container .head-message p {
  color: #29353D;
  font-size: 15px;
}

.survey-form h3 {
  border-bottom: 1px solid #29353D;
  padding-top: 8px;
  font-family: roboto, sans-serif;
  font-size: 20px;
  color: #29353D;
}

.survey-form p {
  color: #29353D;
  font-size: 15px;
}

.survey-container .custom-field {
  margin-bottom: 8px;
}

.survey-container .custom-submit {
  margin: 24px 0px;
  width: 100%;
  border-radius: 25px;
  background-color: #9AABD5;
  border: none;
  color: white;
  padding: 16px 0px;
}

.title-exitbtn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title-exitbtn .fa-times-circle {
  top: 4%;
  right: 7%;
  color: #29353D;
}

.form-inputs {
  border-radius: 25px;
  background-image: none !important;
  text-align: center;
  color: #66717E;
  margin: auto auto;
  color: gray;
}

.form-inputs:focus {
  color: #6c7ba5e6;
}

.custom-date {
  width: auto;
  height: auto;
  padding: 8px 24px;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-overflow: '';
  text-align-last: center;
}

.time-wrapper > div{
  justify-content: flex-start !important;
}

.no-paragraph {
  padding-top: 8px !important;
}

// algolia places autocomplete input field for location
#survey-input-location {
  padding-top: 23px;
  padding-bottom: 23px;
  padding-left: 23px;
  text-align: left;
}

#survey-input-location::placeholder {
  color: #66717E;
}

// submit button
.survey-container .custom-submit {
  border-radius: 36px;
}
