.survey-success {
  padding: 32px;
  color: #29353D;
  background-color: white;
  height: 100vh;
}

.survey-success h2 {
  font-size: 23px;
  letter-spacing: -0.5px;
  color: #29353D;
}

.survey-img {
  width: 76%;
  margin: 0 auto;
  margin-left: 10%;
  margin-bottom: 5%;
}

.survey-success p {
  color: #29353D;
  font-size: 15px;
}

.success-incidents-button {
  margin-top: 17px;
}

.survey-success .button-blue {
  height: 57px;
  box-shadow: 1px 1px 2px #8495c7;
}

// image of survey from home

.survey-img-home {
  width: 88%;
  margin: 0 auto;
  margin-left: 6%;
  margin-bottom: 5%;
}
