.survey-success {
  padding: 32px;
  color: #29353D;
}

.survey-success h2 {
  font-size: 22px;
  font-weight: bold;
  letter-spacing: -0.5px;
}

.survey-img {
  width: 100%;
  margin: 0 auto;
  padding: 32px;
}

.survey-success p {
  font-family: roboto, sans-serif;
  color: #66717E;
}

.success-incidents-button {
  margin-top: 17px;
}
