<div class = "directions-toggle-div">
  <i class="fas fa-list-ul" data-navigation-ui-target = "directionButton"></i>
  <i class="fas fa-location-arrow d-none" data-navigation-ui-target = "arrowButton"></i>
</div>
