<div class= "nav-bottom-menu-div">
  <div class = "nav-bottom-toggle-div">
    <%= image_tag "togglenav.svg", class: "nav-bottom-toggle" %>
  </div>

  <div class = "nav-bottom-buttons-div">
    <button class="button-white">I'm home</button>
    <button class="button-sos">911</button>
  </div>
</div>
