<div class= "nav-bottom-menu-div">
  <div class = "nav-bottom-toggle-div">
    <%= image_tag "togglenav.svg", class: "nav-bottom-toggle" %>
  </div>

  <div class = "nav-bottom-buttons-div">
    <%= link_to journey_incidents_path(@journey) do %>
      <button class="button-white">I'm home</button>
    <% end %>
    <button class="button-sos">911</button>
  </div>
</div>
