<%# Need both icons do not delete %>
<div class = "nav-back-button-div">
  <%= link_to home_path do %>
    <i class="fas fa-chevron-circle-left"></i>
    <i class="fas fa-circle"></i>
  <% end %>
</div>
