<div class="nav-right-buttons-div">
  <ul class = "nav-right-icons-list" data-controller="messaging" data-journey-id="<%= @journey.id %>" data-messaging-target="journey">
  <%# Call %>
    <li class = "icon-white-circle" ><span class="iconify button-call icon-backg" data-icon="el:phone-alt" style="color: #29353D;" data-toggle="modal" data-target="#emergencyModal"></span></li>

  <%# New message%>
  <li><i class="fas fa-comment-dots button-msg icon-navy-circle"></i></li>
  <%# Flag %>
  <li class = "icon-white-circle"><span id = "flag-nav-button" class="iconify button-flag icon-backg" data-icon="el:flag-alt" style="color: #29353D;" data-action="click->navigation-ui#flag"></span></li>

  </ul>
</div>
