<div class="nav-right-buttons-div">
  <ul class = "nav-right-icons-list">
  <li><span class="iconify button-cal" data-icon="el:phone-alt" style="color: #29353D;"></span></li>
  <li><span class="iconify button-msg" data-icon="bpmn:start-event-message" style="color:#29353D;"></span></li>
  <li><span class="iconify button-flag" data-icon="el:flag-alt" style="color: #b44143;"></span></li>
  </ul>

  <ul class = "nav-right-circles-list">
    <li><i class="fas fa-circle"></i></li>
    <li><i class="fas fa-circle"></i></li>
    <li><i class="fas fa-circle"></i></li>
  </ul>
</div>
