<div class="right-buttons">
  <ul>
    <li class="nav-btn"><i class="fas fa-phone-square-alt"></i></li>
    <li class="nav-btn"><i class="far fa-comments"></i></li>
    <li class="nav-btn"><i class="fas fa-flag"></i></li>
  </ul>
</div>
