
<div class = "wrapper-home">
  <%= image_tag "https://images.unsplash.com/photo-1600207438283-a5de6d9df13e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=334&q=80", class: "avatar dropdown-toggle avatar-home", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
    <%= link_to "My profile",  edit_user_registration_path, class: "dropdown-item" %>
    <%= link_to "Log out",   destroy_user_session_path, method: :delete, class: "dropdown-item" %>
  </div>
  <%# Autocomplete input forms and button %>
  <div class="home-div-inputs">
    <form>
        <input class="home-input-location" id = "home-input-start" placeholder= "Start location">
        <input class="home-input-location" id = "home-input-destination" placeholder= "Destination" >
        <button type="submit" class="button-blue"> GO GIRL </button>
    </form>
  </div>

  <%# Pattern %>
  <%= image_tag "newmapdashedline.svg", class: "home-page-pattern" %>

 <%# Flag card  %>
  <div class = "home-flag-card">
    <p> Flag an incident </p>
    <span class="iconify button-flag" data-icon="el:flag-alt" style="color: #b44143;"></span>
  </div>
</div>
