<div class="map-wrapper">
  <%= render 'shared/navigation_back_button' %>
  <%= render 'shared/navigation_right_buttons' %>
  <img class="navigation-map" src="https://i.stack.imgur.com/jl8Kq.jpg" alt="map">
</div>

<%= render 'shared/navigation_bottom_menu' %>
