<div class="splash-container">
  <div class="splash-header">
    <h1 style="font-size:54px"><strong>Go Girl</h1></strong>
    <p style="font-size:20px;color:white"> <strong>Get home safe!</strong> </p>
  </div>

  <div class="circle">
    <%= image_tag("splash_page.png") %>
  </div>

  <div class="splash-buttons">
    <%= link_to new_user_session_path do %>
      <button style="color: white;">LOG IN</button>
    <% end %>
    <%= link_to new_user_registration_path do %>
      <button style="margin-top: 20px;color:white;">SIGN UP</button>
    <% end %>
  </div>
</div>
