<div class="background">
  <div class="container container-info">
    <h1><strong>Go Girl</h1></strong>


    <p> <strong>Lorem ipsum dolor sit amet, consectetur </strong> </p>
  </div>
  <div class="circle">
    <%= image_tag("splash_page.png") %>
  </div>
  <div class="button-arrow">
    <span class="iconify button-arrow", style="color:white" data-icon="eva:arrow-circle-down-outline"></span>
  </div>

</div>
