<div class="splash-container">
  <div class="splash-header">
    <h1><strong>Go Girl</h1></strong>
    <p> <strong>Get home safe!</strong> </p>
  </div>

  <div class="circle">
    <%= image_tag("splash_page.png") %>
  </div>

  <div class="splash-buttons">
    <button style="margin-bottom: 20px;">SIGN UP</button>
    <button>LOG IN</button>
  </div>
</div>
