<div class="survey-success">
  <%= image_tag "survey.png", class: "survey-img" %>
  <h2>Your response has been submitted!</h2>
  <p>Thank you for taking the time to complete the survey.
  Every response counts!</p>
  <button>Go back home</button>
</div>
