<div class="survey-success">
  <%= image_tag "survey.png", class: "survey-img" %>
  <h2>Your response has been submitted!</h2>
  <p>Thank you for taking the time to complete the survey.
  Every response counts!</p>
  <%= link_to root_path do %>
    <button class="button-blue">Go back home</button>
  <% end %>
</div>
