<div class="survey-success">
  <%= image_tag "survey.png", class: "survey-img" %>
  <h2>Your response has been submitted!</h2>
  <p>Thank you for taking the time to complete the survey.
  Every response counts!</p>

  <%= link_to root_path do %>
    <button class="button-blue"> Go back home </button>
  <% end %>

  <% if @journey %>
    <%= link_to journey_incidents_path(@journey) do %>
      <button class="button-blue">Return to list of incidents </button>
    <% end %>
  <% end %>

</div>
