<div class="container">
<form id="login" onsubmit="process(event)">
  <p>Enter your phone number:</p>
  <input class="phone-input" type="tel" name="phone" />
  <input type="submit" class="btn" value="Verify" />
</form>
<div class="alert alert-info" style="display: none;"></div>
</div>
