
.avatar-home {
  border-radius: 50%;
  object-fit: cover;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  right: 27px;
  top: 23px;
  box-shadow: 1px 1px 1px #252f35;
}
