/*All buttons set to width:100%, width will be control with divs*/

.button-blue {
  color: white;
  width: 100%;
  background-color: #9AABD5; /* Wild blue yonder */
  border-radius: 33px;
  padding:2px;
  border:0px;
  input {
    color:white;
  }
}

.button-white {
  color: #6c7ba5e6;
  font-weight: bold;
  width: 100%;
  background-color: white; /* Wild blue yonder */
  border-radius: 33px;
  padding:10px;
  border:0px;
}
.button-back {
  width: 100%;
  border-radius: 0px;
}

.button-sos {
  color: white;
  font-weight: bold;
  font-size: 24px;
  width: 100%;
  background-color: #29353D; /* Wild blue yonder */
  border-radius: 33px;
  padding:10px;
  border:0px;
}

.button-im-home {
  color: #29353D; /* Gunmetal gray */
  background-color: white;
  width: 100%;
  border-radius: 22px;
}

.button-flag-homepage {
  width: 100%;
  border-radius: 6px;
}

.button-flag {
  height: 53px;
  width: 53px;
}

.button-call {
  height: 50px;
  width: 50px;
}

// .button-msg {
//   height: 55px;
//   width: 55px;
// }

.button-msg {
  font-size: 1.8rem;
  color: white;
}

.button-ratings {
  height: 51px;
  width: 51px;
}

.button-arrow {
  width: 50px;
  height: 50px;
}

.form-actions {
  margin:auto auto;
  margin-top: 2px;
  margin-bottom: 20px;
}

.sign-up{
  a {
    text-decoration: none !important;
    font-size: 14px;
    color:#CBCECA;
  }
}

.nav-top {
  padding: 10px;
  position: relative;
  .fas {
    position: absolute;
    left: 12px;
    top:15px;
    font-size: 24px;
    margin-left: 10px;
    color: #495057;
  }

// for flag button
.disabled {
  pointer-events: none;
  filter: grayscale(40%);
}
