.wrapper-home {
  padding-top: 100px;
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #29353D !important;
}

.home-div-inputs {
  padding: 20px;
}

.home-flag-card {
  background-color: white;
  border-radius: 4px;
  display: flex;
  padding: 10px;
  width: 63vw;
  box-shadow: 1px 1px 1px lightgray;
  position: absolute;
  bottom: 30px;
  right: 30px;
}

.home-page-pattern {
  margin: 20px;
  height: 362px;
}
